# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/*/target/
out
gen

*.log
*.gz
eos/*.log.*
eos/eos-order-verify\.log

eos/eos-business-db-service\.log

eos/eos-auto-match-verify\.log

eos/eos-guid-generator\.log

eos-auto-match-verify/eos/eos-auto-match-verify\.log

eos-auto-match-verify/eos/eos-auto-match-verify\.log\.1

eos/eos-open-platform-proxy\.log

eos/eos-open-platform-proxy\.log\.1

eos/eos-guid-generator\.log\.1

eos/eos-guid-generator\.log\.2

eos/eos-guid-generator\.log\.3

eos/eos-open-platform-proxy\.log\.2

eos/eos-open-platform-proxy\.log\.3

eos/eos-open-platform-proxy\.log\.4

eos/eos-open-platform-proxy\.log\.5

eos/eos-open-platform-proxy\.log\.6

eos/eos-order-verify\.log\.1

eos/eos-api-gateway\.log

eos/eos-common-service\.log

eos/eos-order-verify\.log\.2

eos/eos-common-service\.log\.1

eos/eos-common-service\.log\.2

eos/eos-order-verify\.log\.4

eos/eos-order-verify\.log\.3

eos/eos-system-setting\.log

eos/eos-api-gateway\.log\.1

eos/eos-order-verify\.log\.5

eos/eos-common-service\.log\.3

eos/eos-allocation-claim\.log

eos/eos-order-verify\.log\.6

eos/eos-order-verify\.log\.7

eos/eos-auto-match-verify\.log\.1

eos/eos-auto-match-verify\.log\.2

eos/eos-auto-match-verify\.log\.3

eos/eos-auto-match-verify\.log\.4

eos/eos-auto-match-verify\.log\.5

eos/eos-auto-match-verify\.log\.6

eos/eos-auto-match-verify\.log\.7

eos/eos-order-photo-authentication\.log

eos/eos-common-service\.log\.4

eos/eos-api-gateway\.log\.2

eos-auto-match-verify/eos/eos-auto-match-verify\.log\.3

eos/eos-guid-generator\.log\.4

/eos/eos-order-codebuy-config.log
/eos/eos-order-codebuy-config.log.1
/eos/eos-system-setting.log.1
/eos/eos-system-setting.log.2

eos-order-codebuy-config/eos/
eos-order-codebuy-config/src/test/java/com/zhangjiashuai/test/
